{%- if action in ['opened', 'closed', 'reopened'] -%}
    [{{self.name}}] [{{repo}}] issue {{url}} ({{title}}) {{action}} by {{user}}
{%- elif action in ['labeled', 'unlabeled'] %}
    {%- if action == 'labeled' -%}
        {%- set act_value = 'added to' -%}
    {%- else -%}
        {%- set act_value = 'removed from' -%}
    {%- endif -%}
    [{{self.name}}] [{{repo}}] label {{act_value}} issue {{url}} ({{title}}) by {{user}}.
{%- elif action == 'assigned' -%}
    [{{self.name}}] [{{repo}}] issue {{url}} ({{title}}) {{action}} to {{assignee}} by {{user}}.
{%- elif action == 'unassigned' -%}
    [{{self.name}}] [{{repo}}] issue {{url}} ({{title}}) {{action}} by {{user}}.
{%- else -%}
    [{{self.name}}] [{{repo}}] unknown action: {{action}} for event type: issue received.
{%- endif -%}
